
/* 悬浮文件展示 */

.floating-file-show {
    display: block;
}

.floating-file-hidden {
    display: none;
}


.floating-file {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    z-index: 9999;
  }
  
  .floating-file-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .floating-file-file-btn {
    position: absolute;
    /* top: 10px; */
    left: 20px;
    background: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }
  
  .floating-file-content {
    white-space: pre-wrap;
    word-break: break-word;
  }
  