/**
* AI 交互 
**/


.close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.textarea {
    width: 900px;
    height: 100px;
}

/*AI审计*/
.ai_check {
    background-color: greenyellow;
    /*margin: 20px;*/
}

.issueDiv {
    font-size: 12px;
    background-color: rgb(230, 215, 215);
    margin-bottom: 8px;
}

.aiCheckShow {
    display: block;
}

.aiCheckHidden {
    display: none;
}

