/**
* 悬浮窗口样式
**/

@keyframes flash-border {
    0%   { border-color: red; }
    10%  { border-color: transparent; }
    20%  { border-color: red; }
    30%  { border-color: transparent; }
    40%  { border-color: red; }
    50%  { border-color: transparent; }
    60%  { border-color: red; }
    70%  { border-color: transparent; }
    80%  { border-color: red; }
    90%  { border-color: transparent; }
    100% { border-color: red; }
    /* 0%   { border-color: greenyellow; }
    25%  { border-color: transparent; }
    50%  { border-color: greenyellow; }
    75%  { border-color: transparent; }
    100% { border-color: greenyellow; }  */
  }
  

  .flash-border {
    border: 6px solid red;
    animation: flash-border 6s ease-in-out;
  }
  


.popup {
    position: absolute;
    background-color: gainsboro;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
    z-index: 1000;
    width: 1000px;
}

.close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.textarea {
    width: 900px;
    height: 100px;
}

.btn {
    background-color: greenyellow;
    /*margin: 20px;*/
}

.floatDiv {
    font-size: 12px;
    background-color: rgb(230, 215, 215);
    margin-bottom: 8px;
}

.aiCheckShow {
    display: block;
}

.aiCheckHidden {
    display: none;
}