/**
* 悬浮窗口样式
**/

.popup {
    position: absolute;
    background-color: gainsboro;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
    z-index: 1000;
    width: 1000px;
}

.close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.textarea {
    width: 900px;
    height: 100px;
}

.btn {
    background-color: greenyellow;
    /*margin: 20px;*/
}

.floatDiv {
    font-size: 12px;
}

.aiCheckShow {
    display: block;
}

.aiCheckHidden {
    display: none;
}