
/* 悬浮文件展示 */

/*trace 路径 a 标签路径*/
.trace_a {
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
  }
  
  .trace_a:visited {
    color: #551A8B;
  }
  
  .trace_a:hover {
    color: #EE0000;
    font-weight: bold;
  }
.trace_a_click {
    color: #EE0000;
    font-weight: bold;
    font-size: 20px;
}
  

.other-sourcecode-li {
    border: 6px solid red;
}  
  

.floating-file-show {
    display: block;
}

.floating-file-hidden {
    display: none;
}


.floating-file {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-height: 60vh;
    background: #fff;
    border: 2px solid black;
    padding: 16px;
    overflow: auto;
    z-index: 1000;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  
  .floating-file-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .floating-file-file-btn {
    position: absolute;
    /* top: 10px; */
    left: 20px;
    background: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }
  
  .floating-file-content {
    white-space: pre-wrap;
    word-break: break-word;
  }
  