

tr {
  padding: 8px;
  background-color: rgb(249, 251, 249);
  border: 1px solid #242424;
  min-width: 100px;
  word-break: break-word;
  white-space: normal;
  transition: background-color 0.2s;
}


td {
  border-left: 1px solid #d8d4d4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  white-space: normal;
  word-break:keep-all;
  min-width: 40px;
}

tr:hover {
  background-color: #93afc4; /* 高亮色 */
}